@page
@model ProjectName.Pages.Account.Credential

<div class="container">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="row g-3 align-items-center form-group">
            <div class="col-3">
                <label asp-for="UserName" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="UserName" class="form-control">
            </div>
            <div class="col-auto">
                <span asp-validation-for="UserName" class="form-text">
                </span>
            </div>
        </div>

        <div class="row g-3 align-items-center mt-2">
            <div class="col-3">
                <label asp-for="Password" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="Password" class="form-control">
            </div>
            <div class="col-auto">
                <span asp-validation-for="Password" class="form-text">
                </span>
            </div>
        </div>
        <div class="row g-3 align-items-center mt-2">
            <div class="col-3">
                </div>
            <div class="col-5">
                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
        </div>
    </form>
</div>
